GROQ_API_KEY=your_groq_key_here
ELEVENLABS_API_KEY=your_actual_key_here                                                                                          
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM